git/UsuarioSoap/src/main/resources/usuario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://usuario.com/" 
xmlns:tns="http://usuario.com/" 
elementFormDefault="qualified">

	<element name="validarUsuario">
        <complexType>
            <sequence>
                <element name="nombreUsuario" type="string"/>
                <element name="password" type="string"/>
                 </sequence>
        </complexType>
    </element>

	<element name="resultadoValidacion">
        <complexType>
            <sequence>
                <element name="esValido" type="boolean"/> 
                
                <element name="ID" type="string"/> 
                
               
            </sequence>
        </complexType>
    </element>
</schema>